@model Compras.Web.Models.Fornecedor

@{
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

@section Styles {

}

<div class="card-block">
    <div class="card-header text-white bg-info text-center h1">
        Dados do Fornecedor
    </div>

    <div class="card-body">

        <label asp-for="FornecedorId">ID</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control" asp-for="FornecedorId" disabled="disabled">
        </div>

        <label asp-for="Nome">Nome</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-user-alt" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control" asp-for="Nome" disabled="disabled">
        </div>

        <label asp-for="RazaoSocial">Razão Social</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-user-tie" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control" asp-for="RazaoSocial" disabled="disabled">
        </div>

        <label asp-for="CpfCnpj">Documento</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control" asp-for="CpfCnpj" disabled="disabled">
        </div>

    </div>
    <div class="card-footer bg-info text-center text-white">
        <form asp-action="Delete">
            <input type="hidden" asp-for="FornecedorId" />
            <input type="submit" value="Exluir" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
        </form>
    </div>
</div>

@section Scripts {
   
}
