@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Sistema de Compras</h1>
        <img src="~/images/banner_compras.jpg" alt="">
        <p>Desenvolvido em Asp.NET Core MVC. <a href="https://docs.microsoft.com/aspnet/core" target="_blank">Consulte o site oficial do ASP.NET Core</a>.</p>
    </div>
